.button-option {
  background-color: #FFD700; /* Color amarillo brillante, inspirado en la bandera de Venezuela */
  border: none;
  border-radius: 8px;
  color: #FFFFFF; /* Texto blanco para contraste */
  font-family: 'Comic Sans MS', cursive, sans-serif; /* Fuente infantil */
  font-size: 1.2rem; /* Tamaño de fuente más grande para facilitar la lectura */
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transiciones suaves */
}

.button-option:hover {
  background-color: #FF8C00; /* Color naranja al pasar el mouse */
  transform: scale(1.05); /* Efecto de aumento al pasar el mouse */
}

.button-option:active {
  transform: scale(0.95); /* Efecto de reducción al hacer clic */
}